body {
    font-family: 'aktiv-grotesk', 'helvetica', sans-serif;
    font-weight: 400;
    letter-spacing: -.2px;
    color: white;
    background-color: black;
    margin-top:-10px;
}


/* FIXED MENU */
.fixed_menu {
    position: fixed;
    width: 100%;
    height: 50px;
    margin: auto;
    margin-top:-50px;
    padding-bottom: 20px;
    background-color: black;
    border-bottom: 1px solid white;
}

ul {
   padding: 30px; 
}

li {
    display: inline-block;
}

.resume {
    float: right;
    color: rgb(31, 109, 255);
}


/* INTRO */
.intro{
    width: 100%;
    display: flex;
    margin-top: 50px;
}

.intro_left{
    width: 30%;
    height: 190px;
    margin-left: 30px;
}

.intro_right{
    width: 70%;
    height: 190px;
    margin: 0 200px 100px 0;
}





/* WORKS */
.works {
    width: 100%;
}

.thumbnails{
    display: flex;
    margin-top: 50px;
    margin-bottom: 50px;
}

.title {
    width: 30%;
    height: 650px;
    overflow-y: hidden;
    margin: 0 100px 30px 30px;
    border-top: 1px solid white;
}

.work_thumb{
    width: 100%;
    margin-right: 30px;
}


img,video {
    max-height: 650px;
    align-self: center;
}

.footer {
    height: 50px;
    margin-left: 30px;
    margin-bottom: 30px;
}



/* Hide scrollbar for Chrome, Safari and Opera */
::-webkit-scrollbar {display: none;}
  
/* Hide scrollbar for IE, Edge and Firefox */
.example {
-ms-overflow-style: none;  /* IE and Edge */
scrollbar-width: none;  /* Firefox */
}




/* type */

h1,ul {
    font-size: 1.4em;
}

h2 {
    font-size: .8em;
}

p {
    font-size: 1.4em;
    line-height: 1.6em;
}

b {
    font-weight: 700;
}

small {
    line-height: .5em;
}

a,
a[href^="mailto"],
a:active,
a:link,
a:visited {color: rgb(31, 109, 255);}











@media only screen and (max-width: 1400px) {


    body{
        margin-top: -60px;
    }

    .intro{
        display: flex;
        margin: auto;
        margin-top: 100px;
        margin-bottom: 30px;
    }
    
    .intro_left{
        width: 0;
        height: 150px;
    }
    
    .intro_right{
        width: 100%;
        height: 230px;
        margin: 30px 80px 80px 30px;
    }

    .works {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        width: 100%;
        margin: auto;
    }
    
    .thumbnails {
        width: 100%;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    
    .title {
        width: 25%;
        max-height: 70px;
        overflow-y: hidden;
        margin-left: 30px;
        margin-right: 30px;
    }

    .work_thumb{
        width: 70%;
        margin-right: 30px;
    }
    
    img,video {
        width: 100%;
        height: 100%;
    }
  }